* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  background-color: #ffffff;
    width: 100%;
padding: 20px;
margin: 0;

}
.he{
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 20px;
    h1{
color: goldenrod;        
    }
}
.im{
    display: flex;
    justify-content: center;
    padding: 10px;


    img{
        width: 100%;
        height: 80vh;
       object-fit: cover;
       border-radius: inherit;
       mask-repeat: no-repeat;
    border-radius: 20px;
    }
}
.fl{
    width: 100%;
    display: flex;
    gap: 5px;
    padding: 10px;
    justify-content: center;
}
.imgg{
    border-radius: 50% 20%;
display: flex;
    object-fit: cover;
    width: 150px;

}

input{
    margin: 10px;
 border-radius: 4px;
    padding: 4px;
}

#get-ht{
background-color: darkgreen;
   border-radius: 10px ;
   padding: 6px;
   width: 8%;
   color: white;
 text-transform: capitalize;

}
.svgg{
    display: flex;
    align-items: center;
    svg{
        background-color: black;
    border-radius: 50%;
    }
 
}
footer{
    margin-top: 40px;
    background-color: whitesmoke;
    padding: 20px;
    gap: 10px;
    display: flex;
    justify-content: space-around;
}
.black{
    background-color: black;
}

.pad{
    padding-left: 80px;
    padding-top: 20px;
}
ul{
    list-style-type: decimal;
 padding-left: 111px;

    li{
        padding-top: 10px;
        text-transform:  capitalize;
        color: goldenrod;
    
    }
}
.para{
   color: darkgrey;
        display: grid;
        justify-content: center;

}
.card{
    
    border: 2px solid darkgrey;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 7px 20px rgba(255, 217, 0, 0.767);
}
.card img {
    width: 100%;
height: 300px;
object-fit: contain;
}
.ta{
    position: absolute;
top: 0;
left: 0;
padding: 6px 10px;
background-color: rgba(218, 165, 32, 0.589);
}
.sa{
    position: absolute;
top: 0;
right: 0;
padding: 6px 10px;
background-color: rgba(218, 165, 32, 0.76);
}
.all-cards{
    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    gap: 10px;
}

.filter{
    width: 300px;
}
.forto{
    display: flex;
}